DATABASE_URL="postgresql://postgres:password@localhost:5432/real_estate?schema=public"
CLIENT_URL="http://localhost:3000"
JWT_ACCESS_SECRET="replace-with-a-random-secret-at-least-32-characters"
JWT_REFRESH_SECRET="replace-with-a-different-random-secret-at-least-32-characters"
NODE_ENV="development"
PORT="3002"